.filter-inner-section {
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
}

.category-list {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style: none;
    margin: 0.5rem;
    margin-left: 0;
}