.main-container {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    /* justify-content: space-around; */
}

.filter-section {
    background-color: white;
    /* border: 1px solid red; */
    margin: 0.5rem;
    width: 20%;
    padding: 1rem;
}

.productList-section {
    background-color: white;
    margin: 0.5rem;
    /* border: 1px solid red; */
    width: 80%;
    padding: 1rem;


}